Package: myecho
Version: 1.0
Section: base
Priority: optional
Architecture: Raspberry Pi model 3
Depends: Qt BME280 sensor
Maintainer: Mr Jerome Lane <jerome.lane@hotmail.com>
Description: Displays weather data
